<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" requireReinstallation="true" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Ninject" version="3.3.4" targetFramework="net471" />
</packages>